<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col one-half">
         <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>

              
        <button id="skin-toggle" class="skin-toggle">
            <div class="icon classic-icon"></div>
            <div class="icon dark-icon"></div>
        </button>
    </div>
  </div>

</footer>
